<h1>Riddles of the Sphinx</h1>

<p>Welcome, blah, blah, blah.</p>
<p>Click proceed if you dare!</p>

<a href="/riddles"><button type="submit" name="proceed" class="btn btn-danger">Proceed</button></a>
